@model IEnumerable<ViewModels.ProjectModels.ProjectViewModel>

<div class="wrapper light-wrapper">
    <div class="inner pt-70 pb-0">
        <div class="container">
            <h1 class="heading text-center">Hi, This is Missio</h1>
            <h2 class="sub-heading2 text-center">Wedding, Fashion, Event Photographer</h2>
        </div>
        <div class="space50"></div>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div>
                <div class="cbp-l-filters-dropdownTitle">Filter By:</div>
            </div>
            <div>
                <div id="cube-inline-filter" class="cbp-l-filters-dropdown">
                    <div class="cbp-l-filters-dropdownWrap">
                        <div class="cbp-l-filters-dropdownHeader">All</div>
                        <div class="cbp-l-filters-dropdownList">
                            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
                            <div data-filter=".family" class="cbp-filter-item">Family</div>
                            <div data-filter=".travel" class="cbp-filter-item">Travel</div>
                            <div data-filter=".wedding" class="cbp-filter-item">Wedding</div>
                            <div data-filter=".nature" class="cbp-filter-item">Nature</div>
                            <div data-filter=".still-life" class="cbp-filter-item">Still Life</div>
                            <div data-filter=".portrait" class="cbp-filter-item">Portrait</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="space20"></div>
        <div id="cube-inline" class="cbp cbp-images cube-inline-4">
            @foreach (var project in Model)
            {
                var imageUrl = project.Images.ToList().Where(x => x.IsProjectThumbnail == true).FirstOrDefault().ImageBaseUrl;
                <div class="cbp-item text-center family">
                    <div class="wrapper image-wrapper cbp-image-wrapper bg-image inverse-text" data-image-src="@imageUrl" style="background-image: url("@imageUrl");">
                        <div class="container inner pt-120 pb-120">
                            <div class="meta"><span class="count">@project.Images.Count() Photos</span><span class="category">@project.GalleryName</span></div>
                            <h3>@project.Name</h3>
                            <a asp-controller="Gallery" asp-route-id="@project.GalleryId" class="btn btn-white cbp-singlePageInline">View Gallery</a>
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.wrapper -->
                </div>
                <!--/.cbp-item -->
            }
            <div class="cbp-item text-center travel">
                <div class="wrapper image-wrapper cbp-image-wrapper bg-image inverse-text" data-image-src="style/images/art/pw2.jpg">
                    <div class="container inner pt-120 pb-120">
                        <div class="meta"><span class="count">7 Photos</span><span class="category">Travel</span></div>
                        <h3>Deep Wide Ocean</h3>
                        <a href="ajax/portfolio-post2.html" class="btn btn-white cbp-singlePageInline">View Gallery</a>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.wrapper -->
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item text-center wedding">
                <div class="wrapper image-wrapper cbp-image-wrapper bg-image inverse-text" data-image-src="style/images/art/pw3.jpg">
                    <div class="container inner pt-120 pb-120">
                        <div class="meta"><span class="count">8 Photos</span><span class="category">Wedding</span></div>
                        <h3>Happily Ever After</h3>
                        <a href="ajax/portfolio-post3.html" class="btn btn-white cbp-singlePageInline">View Gallery</a>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.wrapper -->
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item text-center nature">
                <div class="wrapper image-wrapper cbp-image-wrapper bg-image inverse-text" data-image-src="style/images/art/pw4.jpg">
                    <div class="container inner pt-120 pb-120">
                        <div class="meta"><span class="count">9 Photos</span><span class="category">Nature</span></div>
                        <h3>Trees Can Fly</h3>
                        <a href="ajax/portfolio-post4.html" class="btn btn-white cbp-singlePageInline">View Gallery</a>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.wrapper -->
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item text-center portrait">
                <div class="wrapper image-wrapper cbp-image-wrapper bg-image inverse-text" data-image-src="style/images/art/pw5.jpg">
                    <div class="container inner pt-120 pb-120">
                        <div class="meta"><span class="count">10 Photos</span><span class="category">Portrait</span></div>
                        <h3>Hidden Face</h3>
                        <a href="ajax/portfolio-post5.html" class="btn btn-white cbp-singlePageInline">View Gallery</a>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.wrapper -->
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item text-center urban">
                <div class="wrapper image-wrapper cbp-image-wrapper bg-image inverse-text" data-image-src="style/images/art/pw6.jpg">
                    <div class="container inner pt-120 pb-120">
                        <div class="meta"><span class="count">7 Photos</span><span class="category">Urban</span></div>
                        <h3>Stunning Perspectives</h3>
                        <a href="ajax/portfolio-post6.html" class="btn btn-white cbp-singlePageInline">View Gallery</a>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.wrapper -->
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item text-center nature">
                <div class="wrapper image-wrapper cbp-image-wrapper bg-image inverse-text" data-image-src="style/images/art/pw7.jpg">
                    <div class="container inner pt-120 pb-120">
                        <div class="meta"><span class="count">8 Photos</span><span class="category">Nature</span></div>
                        <h3>Ice & Snow</h3>
                        <a href="ajax/portfolio-post7.html" class="btn btn-white cbp-singlePageInline">View Gallery</a>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.wrapper -->
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item text-center still-life">
                <div class="wrapper image-wrapper cbp-image-wrapper bg-image inverse-text" data-image-src="style/images/art/pw8.jpg">
                    <div class="container inner pt-120 pb-120">
                        <div class="meta"><span class="count">8 Photos</span><span class="category">Still Life</span></div>
                        <h3>Details in Pastel</h3>
                        <a href="ajax/portfolio-post8.html" class="btn btn-white cbp-singlePageInline">View Gallery</a>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.wrapper -->
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item text-center family">
                <div class="wrapper image-wrapper cbp-image-wrapper bg-image inverse-text" data-image-src="style/images/art/pw9.jpg">
                    <div class="container inner pt-120 pb-120">
                        <div class="meta"><span class="count">8 Photos</span><span class="category">Family</span></div>
                        <h3>Cool House</h3>
                        <a href="ajax/portfolio-post9.html" class="btn btn-white cbp-singlePageInline">View Gallery</a>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.wrapper -->
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item text-center nature">
                <div class="wrapper image-wrapper cbp-image-wrapper bg-image inverse-text" data-image-src="style/images/art/pw10.jpg">
                    <div class="container inner pt-120 pb-120">
                        <div class="meta"><span class="count">8 Photos</span><span class="category">Nature</span></div>
                        <h3>Amazing Underwater Life</h3>
                        <a href="ajax/portfolio-post10.html" class="btn btn-white cbp-singlePageInline">View Gallery</a>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.wrapper -->
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item text-center still-life">
                <div class="wrapper image-wrapper cbp-image-wrapper bg-image inverse-text" data-image-src="style/images/art/pw11.jpg">
                    <div class="container inner pt-120 pb-120">
                        <div class="meta"><span class="count">11 Photos</span><span class="category">Still Life</span></div>
                        <h3>Stillness of Things</h3>
                        <a href="ajax/portfolio-post11.html" class="btn btn-white cbp-singlePageInline">View Gallery</a>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.wrapper -->
            </div>
            <!--/.cbp-item -->
        </div>
        <!--/.cbp -->
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->