@{
    @model IEnumerable<ViewModels.ProjectModels.ProjectViewModel>
}
<div class="wrapper light-wrapper">
    <div class="inner pt-70 pb-0">
        <div class="container">
            <h2 class="heading text-center">Check all projects in one place</h2>
        </div>
        <div class="space50"></div>
        <div id="cube-inline-5-filter" class="cbp-filter-container text-center">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
            @foreach (var project in Model.GroupBy(x=>x.GalleryId).Select(x=>x.First()))
            {
            <div data-filter=".@project.GalleryId" class="cbp-filter-item">@project.GalleryName</div>
            }
        </div>
        <div class="clearfix"></div>
        <div class="space20"></div>
        <div id="cube-inline-5" class="cbp cbp-images cube-inline-5">
            @foreach (var project in Model)
            {
                var imageUrl = project.Images.ToList().Where(x => x.IsProjectThumbnail == true).FirstOrDefault().ThumbnailImageUrl;
                <div class="cbp-item text-center @project.GalleryId">
                    <figure class="overlay overlay2 light rounded">
                        <a asp-controller="Gallery" asp-route-id="@project.GalleryId"><img src="@imageUrl" alt="" /></a>
                        <figcaption>
                            <h5 class="text-uppercase from-top mb-0">@project.GalleryName</h5>
                            <p class="from-bottom">@project.Name</p>
                        </figcaption>
                    </figure>
                </div>      
            }
        </div>
    </div>
</div>

<div class="wrapper light-wrapper">
    <div class="container inner text-center">
        <h2 class="title-color color-dark mb-20 text-center">If you like what you see</h2>
        <h3 class="sub-heading2 text-center">Work with Me</h3>
        <div class="space10"></div>
        <a asp-controller="Contact" asp-action="Send" class="btn btn-white shadow magic-hover magic-hover__square">Get in Touch</a>
    </div>
</div>