@{
    ViewData["Title"] = "Home page";
    @model ViewModels.HomePage.HomePageViewModel;
}
<div class="wrapper white-wrapper">
    <div class="flickity-carousel-container">
        <div class="flickity flickity-carousel flickity-viewport-mode">
            @*<div class="item mr-15"><img src="~/style/images/art/fc1.jpg" alt="" /></div>*@
            @foreach (var image in Model.CarouselImages.Where(x => x.ShowOnHomePageGallery == false).OrderByDescending(i => i.Position.HasValue).ThenBy(i => i.Position))
            {
                <div class="item mr-15"><img src="~/@image.ThumbnailImageUrl" alt="" /></div>
            }
        </div>
        <!-- /.flickity-carousel -->
        @*<p class="flickity-status"></p>*@
    </div>
</div>

<div class="wrapper light-wrapper">
    <div class="container inner">
        <h2 class="title-color color-dark mb-20 text-center">Photographer</h2>
        <h3 class="sub-heading2 text-center">Based in Sofia <span class="small_thin_grey font-italic">(but not limited to)</span>.</h3>
        <div class="space30"></div>
        <div class="tiles">
            <div class="items row boxed grid-view text-center">
                <div class="item col-md-4" data-aos="fade-right">
                    <a asp-controller="Gallery" asp-action="Index" asp-route-id="@Model.GalleryCards.First()?.ProjectGalleryId">
                        <div class="box bg-white shadow p-30">
                            <figure class="main mb-25"><img src="~/@Model.GalleryCards.First()?.ThumbnailImageUrl" alt="" /></figure>
                            <h4 class="text-uppercase mb-5">@Model.GalleryCards.First()?.ProjectGalleryName</h4>
                        </div>
                    </a>
                </div>
                <div class="item col-md-4" data-aos="fade-up">
                    <a asp-controller="Gallery" asp-action="Index" asp-route-id="@Model.GalleryCards.ElementAtOrDefault(1)?.ProjectGalleryId">
                        <div class="box bg-white shadow p-30">
                            <figure class="main mb-25"><img src="~/@Model.GalleryCards.ElementAtOrDefault(1)?.ThumbnailImageUrl" alt="" /></figure>
                            <h4 class="text-uppercase mb-5">@Model.GalleryCards.ElementAtOrDefault(1)?.ProjectGalleryName</h4>
                        </div>
                    </a>
                </div>
                <div class="item col-md-4" data-aos="fade-left">
                    <a asp-controller="Gallery" asp-action="Index" asp-route-id="@Model.GalleryCards.ElementAtOrDefault(2)?.ProjectGalleryId">
                        <div class="box bg-white shadow p-30">
                            <figure class="main mb-25"><img src="~/@Model.GalleryCards.ElementAtOrDefault(2)?.ThumbnailImageUrl" alt="" /></figure>
                            <h4 class="text-uppercase mb-5">@Model.GalleryCards.ElementAtOrDefault(2)?.ProjectGalleryName</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="style/images/home-page-testimonials.jpg">
    <div class="container inner pt-150 pb-150">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cube-slider cbp-slider-edge cbp">
                    <div class="cbp-item">
                        <blockquote class="icon icon-top larger text-center pl-60 pr-60">
                            <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus.</p>
                            <footer class="blockquote-footer">Connor Gibson</footer>
                        </blockquote>
                    </div>
                    <div class="cbp-item">
                        <blockquote class="icon icon-top larger text-center pl-60 pr-60">
                            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper eget quam integer. </p>
                            <footer class="blockquote-footer">Coriss Ambady</footer>
                        </blockquote>
                    </div>
                    <div class="cbp-item">
                        <blockquote class="icon icon-top larger text-center pl-60 pr-60">
                            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis.</p>
                            <footer class="blockquote-footer">Barclay Widerski</footer>
                        </blockquote>
                    </div>
                    <div class="cbp-item">
                        <blockquote class="icon icon-top larger text-center pl-60 pr-60">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam aenean lacinia. Curabitur blandit tempus in egestas consectetur.</p>
                            <footer class="blockquote-footer">Nikola Brooten</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper light-wrapper">
    @*<div style="height: 55px;"></div>*@
    <div class="row justify-content-center">
        <form method="post">
            <div id="error-email-alert" class="alert alert-danger fade row col justify-content-center" role="alert"> Sorry there was an error or you are already subscribed. </div>
            <div id="success-email-alert" class="alert alert-success fade row col justify-content-center" role="alert"> Yaay you successfully subscribed. Check your inbox to find your first gift. </div>
            <label class="col-form-label-sm d-block text-center" style="font-size: x-large;">Subscribe to my email</label>
            <div class="row" style="padding-inline: 7%;">
                <div class="col-md-6">
                    <label class="col-form-label-sm">Name</label>
                    <input id="email-name" class="form-control" type="text" name="name" placeholder="John Doe" />
                </div>
                <div class="col-md-6">
                    <label class="col-form-label-sm">E-mail address</label>
                    <input id="email-input" class="form-control" type="email" name="email" placeholder="example@@mymail.com" />
                </div>
                <span class="col text-muted small d-block text-center">With your subscriprion you consent to receive emails</span>
            </div>
            <input type="hidden" />
            <div class="row col justify-content-center">
                <button id="email-sub-btn" class="btn btn-success" style="margin-top: 3%; max-width: 35%; min-width: 25%;">Subscribe</button>
            </div>
        </form>
    </div>
</div>

<div class="wrapper light-wrapper" id="portfolio">
    <div class="container inner">
        <div class="space20"></div>
        <div id="cube-grid-filter" class="cbp-filter-container text-center">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
            @foreach (var image in Model.CarouselImages
           .Where(x => x.ShowOnHomePageCarousel == false)
           .GroupBy(x => x.ProjectId)
           .Select(x => x.First())
           .OrderByDescending(i => i.Position.HasValue)
           .ThenBy(i => i.Position))
            {
                <div data-filter=".@image.ProjectId" class="cbp-filter-item">@image.ProjectName</div>
            }
        </div>
        <div class="clearfix"></div>
        <div class="space20"></div>
        <div id="cube-grid" class="cbp">
            @foreach (var image in Model.CarouselImages.Where(x => x.ShowOnHomePageCarousel == false).OrderByDescending(i => i.Position.HasValue).ThenBy(i => i.Position))
            {
                <div class="cbp-item @image.ProjectId">
                    <figure class="overlay overlay2 light rounded">
                        <a asp-controller="Gallery" asp-route-id="@image.ProjectGalleryId"><img src="~/@image.ThumbnailImageUrl" alt="" /></a>
                        <figcaption>
                            <h5 class="text-uppercase from-top mb-0">@image.ProjectGalleryName</h5>
                            <p class="from-bottom">@image.ProjectName</p>
                        </figcaption>
                    </figure>
                </div>
                <!--/.cbp-item -->
            }
        </div>
        <!--/.cbp -->
        @*<div class="space30"></div>
            <div id="cube-grid-more" class="text-center">
                <a href="ajax/loadmore.html" class="cbp-l-loadMore-link btn btn-white shadow" rel="nofollow">
                    <span class="cbp-l-loadMore-defaultText">Load More</span> <span class="cbp-l-loadMore-loadingText">Loading...</span>
                    <span class="cbp-l-loadMore-noMoreLoading">No More Works</span>
                </a>
            </div>*@
    </div>
    <!-- /.container -->
</div>

<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="style/images/art/bg3.jpg">
    <div class="container inner pt-150 pb-150">
        <div class="row counter">
            <div class="col-md-4">
                <div class="d-flex flex-row justify-content-center">
                    <div class="icon fs-58 icon-color color-dark mr-25"><i class="si-photo_camera"></i></div>
                    <div>
                        <h3 class="value">23,735</h3>
                        <p>Shots Taken</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-row justify-content-center">
                    <div class="icon fs-58 icon-color color-dark mr-25"> <i class="si-photo_image-review"></i> </div>
                    <div>
                        <h3 class="value">457</h3>
                        <p>Edited shots</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-row justify-content-center">
                    <div class="icon fs-58 icon-color color-dark mr-25"> <i class="si-education_planet-orbit"></i> </div>
                    <div>
                        <h3 class="value">16</h3>
                        <p>Projects</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper light-wrapper">
    <div class="container inner text-center">
        <h2 class="title-color color-dark mb-20 text-center">If you like what you see</h2>
        <h3 class="sub-heading2 text-center">Work with Me</h3>
        <div class="space10"></div>
        <a asp-controller="Contact" class="btn btn-white shadow magic-hover magic-hover__square">Get in Touch</a>
    </div>
</div>

@section Scripts{
    @*<script>
            $(document).ready(function () {
                var nextCarouselBtn = $('.flickity-button.flickity-prev-next-button.next');
                setInterval(function () {
                    nextCarouselBtn.click();
                }, 3000)
            })
        </script>*@
    <script>
        $('#email-sub-btn').on('click', function (e) {
            e.preventDefault();
            let emailInput = $('#email-input');
            let nameInput = $('#email-name');

            let data = {
                email: emailInput.val(),
                name: nameInput.val()
            };

            var token = $("#adminForm input[name=__RequestVerificationToken]").val();

            $.ajax({
                url: 'api/Contact/Subscribe',
                type: "POST",
                headers: { 'RequestVerificationToken': token },
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    console.log(data)

                    $('#success-email-alert').addClass('show');
                    emailInput.val('');
                    nameInput.val('');
                },
                error: function (req, status, error) {
                    console.log(error);
                    $('#error-email-alert').addClass('show');
                }
            });
        })
    </script>
} 