@{
    @using ViewModels.ProjectModels;
    @model SingleProjectViewModel
}

<div class="wrapper light-wrapper">
    <div class="container inner pt-70 text-center">
        <h1 class="post-title">@Model.Name<span class="small"><i> in @Model.GalleryName</i></span></h1>

        @* Make each row form and submit all or use ajax or FIND another solution *@
        <form id="editForm" method="post">
            <input type="hidden" />
            <div class="row">
                @foreach (var image in Model.Images)
                {
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col">
                                <img src="~/@image.ImageBaseUrl" width="115" />
                                <input type="hidden" value="@image.Id" />
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <textarea style="height: 5rem; width:auto;" id="@(image.Id + "description")" placeholder="Description">@image.Description</textarea>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="@(image.Id + "projThumbnail")">Project thumbnail</label>
                                <input type="checkbox" class="thumbnailCheckbox" id="@(image.Id + "projThumbnail")" checked="@image.IsProjectThumbnail" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label class="text-success" for="@(image.Id + "home")">Show on home page carousel.</label>
                                <input type="checkbox" id="@(image.Id + "home")" checked="@image.ShowOnHomePageCarousel" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label class="text-danger" for="@(image.Id + "delete")">Set as deleted</label>
                                <input type="checkbox" id="@(image.Id + "delete")" checked="@image.IsDeleted" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </form>
        <div class="text-center"><button class="btn btn-outline-primary" onclick="postToProject()">Save changes</button></div>
    </div>
</div>

@section Scripts{
    <script>

        var checkboxes = $('.thumbnailCheckbox');

        checkboxes.change(function () {
            if ($(checkboxes).is(':checked')) { checkboxes.not(this).prop('checked', false); }
        });

        function postToProject() {
            var colDivs = $('.col-md-3');
            var dataSet = new Array();

            for (col of colDivs) {
                var id = col.children[0].children[0].children[1].value
                var description = $(`#${id}description`).val();
                var isThumbnail = $(`#${id}projThumbnail`).is(":checked");
                var isOnHomePageCarousel = $(`#${id}home`).is(":checked");
                var isDeleted = $(`#${id}delete`).is(":checked");

                dataSet.push({
                    id,
                    description,
                    isThumbnail,
                    isOnHomePageCarousel,
                    isDeleted
                });
            }

            var token = $("#editForm input[name=__RequestVerificationToken]").val();

            $.ajax({
                url: '/api/admin/EditImages',
                type: "POST",
                headers: { 'RequestVerificationToken': token },
                contentType: 'application/json',
                data: JSON.stringify(dataSet),
                success: function (data) {
                    console.log(data)
                    location.reload(true);
                },
                error: function (req, status, error) {
                    console.log(error);
                    console.log(req);
                    console.log(status);
                }
            });
        }
    </script>
}