@{
    @using ViewModels.ProjectModels;
    @model SingleProjectViewModel
}

<div class="wrapper light-wrapper">
    <div class="container inner pt-70 text-center">

        <form asp-action="Upload" method="post" enctype="multipart/form-data" class="mb-70">
            <div class="row border border-secondary rounded p-2 align-items-center">
                <div class="col">
                    <label for="formFileMultiple" class="form-label">Choose images to upload in current project:</label>
                </div>
                <div class="col" align="center">
                    <input class="form-control-file" name="Images" type="file" id="formFileMultiple" multiple style="width: auto;">
                    @*<span asp-validation-for="Images"></span>*@
                </div>
                <input type="hidden" value="@Model.Id" name="projectId" />
                <input type="hidden" value="@Model.Name" name="projectName" />
                <input type="hidden" value="@Model.GalleryName" name="galleryName" />
                <div class="col">
                    <button type="submit" class="btn btn-outline-primary float-left mb-0">Upload</button>
                </div>
            </div>
        </form>

        @if (Model.Images.Count() > 0)
        {
            <div><a class="btn" asp-action="Edit" asp-route-projectId="@Model.Id">Edit Images</a></div>
        }

        <div class="row">
            <div class="col">
                <form id="changeGalleryForm" method="post">
                    <input type="hidden" />
                    <input type="hidden" name="projectId" value="@Model.Id" />
                    <div class="form-group custom-select-wrapper">
                        <select class="custom-select w-25" name="galleryId">
                            @foreach (var gallery in Model.AllGalleries)
                            {
                                <option value="@gallery.Id">@gallery.Name</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div><button form="changeGalleryForm" type="submit" class="btn" asp-controller="Project" asp-action="ChangeToGallery">Change to gallery</button></div>

        <h1 class="post-title">@Model.Name<span class="small"><i> in @Model.GalleryName</i></span></h1>
        <p>
            Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.
        </p>
        <div class="space30"></div>
        <div id="cube-grid" class="cbp light-gallery">
            <!--<div class="cbp-item">
                <figure class="overlay overlay3 rounded">
                    <a href="~/style/images/art/jp1-full.jpg" data-sub-html="#caption1">
                        <img src="~/style/images/art/jp1.jpg" alt="" />
                        <div id="caption1" class="d-none">
                            <p>Cras mattis consectetur purus sit amet fermentum.</p>
                        </div>
                    </a>
                </figure>
            </div>-->
            <!--/.cbp-item -->
            <!--<div class="cbp-item">
                <figure class="overlay overlay3 rounded"><a href="~/style/images/art/jp2-full.jpg"><img src="~/style/images/art/jp2.jpg" alt="" /></a></figure>
            </div>-->
            <!--/.cbp-item -->
            <!--<div class="cbp-item">
                <figure class="overlay overlay3 rounded">
                    <a href="~/style/images/art/jp3-full.jpg" data-sub-html="#caption2">
                        <img src="~/style/images/art/jp3.jpg" alt="" />
                        <div id="caption2" class="d-none">
                            <p>Nulla vitae elit libero, a pharetra augue.</p>
                        </div>
                    </a>
                </figure>
            </div>-->
            <!--/.cbp-item -->
            <!--<div class="cbp-item">
                <figure class="overlay overlay3 rounded"><a href="~/style/images/art/jp4-full.jpg"><img src="~/style/images/art/jp4.jpg" alt="" /></a></figure>
            </div>-->
            @foreach (var image in Model.Images)
            {
                <div class="cbp-item">
                    <figure class="overlay overlay3 rounded"><a href="~/@(image.ImageBaseUrl)"><img src="~/@(image.ImageBaseUrl)" alt="" /></a></figure>
                </div>
            }
        </div>
        <!--/.cbp -->

        @if (Model.Images.Count() <= 0)
        {
            <div class="text-center"><span class="text-danger font-italic">No images found in the current project</span></div>
        }
    </div>
    <!-- /.container -->
</div>