@model IEnumerable<ViewModels.Blog.BlogPostViewModel>

<div class="wrapper light-wrapper">
    <div class="container inner pt-60">
        <div class="blog classic-view">
            @foreach (var post in Model)
            {
                <div class="post text-center">
                    <figure class="overlay overlay1 rounded">
                        <a asp-action="ById" asp-route-Id="@post.Id"><img src="~/@post.Image.ThumbnailImageUrl" alt="" /></a>
                        <figcaption>
                            <h5 class="text-uppercase from-top mb-0">Read More</h5>
                        </figcaption>
                    </figure>
                    <div class="space40"></div>
                    <div class="row post-content text-left">
                        <div class="col-md-8 offset-md-2">
                            <h2 class="post-title text-center"><a asp-action="ById" asp-route-Id="@post.Id">@post.Title</a></h2>
                            <div class="meta text-center"><span class="date">@post.CreatedOn.ToString("d")</span><span class="author">By <a asp-action="ById" asp-route-Id="@post.Id">@post.Author</a></span><span class="category"><a asp-controller="Gallery" asp-route-id="@post.GalleryId">@post.GalleryName</a></span></div>
                                <div>@(Html.Raw(post.Content.Substring(0, post.Content.Length / 10) + "..."))</div>
                            <div class="text-center"><a asp-action="ById" asp-route-Id="@post.Id" class="btn btn-white shadow mt-20">Read more</a></div>
                        </div>
                        <!-- /column -->
                    </div>
                    <!-- /.row -->
                </div>
            <!-- /.post -->
            <div class="divider-icon w300"><i class="si-photo_aperture"></i></div>
            }
            @if(Model.Count() == 0)
            {
                <div class="text-center" style="padding-bottom: 100%;">Sorry, no blog posts were found at the moment.</div>
            }
        </div>    
    </div>
    <!-- /.container -->
</div>