@model ViewModels.About.AboutPageViewModel

<div class="wrapper light-wrapper">
    <div class="container inner pt-70">
        <h2 class="section-title mb-40 text-center">Meet the Team</h2>
        <div class="row boxed grid-view">
            <div class="col-md-6 col-lg">
                <div class="box bg-white shadow p-30">
                    <figure class="main"><img src="style/images/about-1.jpg" alt="" /></figure>
                    <h4 class="mb-5">Marteto</h4>
                    <div class="meta mb-10">Marketing Director</div>
                    <p>Takes care of all e-mails and posts you will see.</p>
                    <ul class="social social-mute">
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg">
                <div class="box bg-white shadow p-30">
                    <figure class="main"><img src="style/images/about-3.jpg" alt="" /></figure>
                    <h4 class="mb-5">Martin</h4>
                    <div class="meta mb-10">Photographer and developer</div>
                    <p>Made this website himself and loves shooting.</p>
                    <ul class="social social-mute">
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="space30 d-lg-none"></div>
            <div class="col-md-6 col-lg">
                <div class="box bg-white shadow p-30">
                    <figure class="main"><img src="style/images/about-2.jpg" alt="" /></figure>
                    <h4 class="mb-5">Martinesko</h4>
                    <div class="meta mb-10">Editor</div>
                    <p>In his spare time when he is not taking pics he edits.</p>
                    <ul class="social social-mute">
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="space100"></div>
        <div class="row">
            <div class="col">
                @*<p class="lead larger text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>*@
                <p class="lead larger text-center"><span class="dropcap color-dark font-weight-normal">M</span>artin has a great passion for photography since 2017, he hasn't been published in any media or magazine yet but that doesn't mean he lacks the quality of his work. He also doesn't have any awards, nor he can label himself as a professional. He just loves photography for the sake of it and also escape from depression sometimes. He shoots mainly Portraits but is willing to experiment with whatever genre and is based in Sofia, Bulgaria but that can't stop him from exploring new horizons, if you need him somewhere else on the planet Earth just ask and you shall receive.</p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="style/images/home-page-testimonials.jpg">
    <div class="container inner pt-150 pb-150">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cube-slider cbp-slider-edge cbp">
                    @foreach (var testimonial in Model.AllTestimonials)
                    {
                    <div class="cbp-item">
                        <blockquote class="icon icon-top larger text-center pl-60 pr-60">
                            <p>@testimonial.Content</p>
                            <footer class="blockquote-footer">@testimonial.PersonName</footer>
                        </blockquote>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <form id="testimonialsForm" method="post" style="width:auto;">
                <div id="error-email-alert" class="alert alert-danger fade row col justify-content-center" role="alert"> Sorry there was an error or you are already subscribed. </div>
                <label class="col-form-label-sm d-block text-center" style="font-size: x-large;">Leave testimonial</label>
                <div class="row text-center">
                    <div class="col-md-6 pr-10">
                        <div class="form-group">
                            <input asp-for="@Model.TestimonialFormModel.PersonName" type="text" class="form-control" placeholder="Your name" required="required">
                            <span class="text-danger" asp-validation-for="TestimonialFormModel.PersonName"></span>
                        </div>
                    </div>
                    <div class="col-md-6 pl-10">
                        <div class="form-group">
                            <input asp-for="@Model.TestimonialFormModel.EmailAddress" type="email" class="form-control" placeholder="Your e-mail">
                            <span class="text-danger" asp-validation-for="TestimonialFormModel.EmailAddress"></span>
                        </div>
                    </div>
                    <div class="col-md-6 pl-10">
                        <div class="form-group">
                            <input asp-for="@Model.TestimonialFormModel.Company" type="text" class="form-control" placeholder="Company">
                            <span class="text-danger" asp-validation-for="TestimonialFormModel.Company"></span>
                        </div>
                    </div>
                    <div class="col-md-6 pl-10">
                        <div class="form-group">
                            <input asp-for="@Model.TestimonialFormModel.Position" type="text" class="form-control" placeholder="Position">
                            <span class="text-danger" asp-validation-for="TestimonialFormModel.Position"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <textarea asp-for="@Model.TestimonialFormModel.Content" class="form-control" rows="3" placeholder="Leave your thoughts here..." required="required"></textarea>
                        <span class="text-danger" asp-validation-for="TestimonialFormModel.Content"></span>
                        <div class="space20"></div>
                        <button type="submit" style="background-color: black;" class="btn" data-error="Fix errors" data-processing="Sending..." data-success="Thank you!">Submit</button>
                        <div id="success-email-alert" class="alert alert-success fade row col justify-content-center" role="alert"> Thank you. </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="wrapper gray-wrapper">
    <div class="container inner text-center">
        <h3 class="sub-heading2 text-center">Work with Me</h3>
        <div class="space20"></div>
        <a asp-controller="Contact" asp-action="Send" style="background-color: black;" class="btn btn-l">Get in Touch</a>
    </div>
</div>
