@{
    @using ViewModels.GalleryModels;
    @model SingleGalleryViewModel
}
                                           @*ADD URL SLUG TO SHOW CERTAIN PROJECT (OR SOMETHING ELSE) (WHEN COMING FROM ANOTHER PAGE)*@



<div class="wrapper light-wrapper">
    <div class="inner pt-70 pb-15 pl-15 pr-15">
        <h1 class="heading text-center">@Model.Name</h1>
        <h2 class="sub-heading2 text-center">@Model.Description</h2>
        <div class="space50"></div>
        <div id="cube-grid-full-filter" class="cbp-filter-container text-center position-sticky">
            <div data-filter="*" class="cbp-filter-item">All</div>
            @foreach (var project in Model.Projects)
            {
                <div data-filter=".@project.Id" class="cbp-filter-item">@project.Name</div>
            }
            @*<div data-filter=".food" class="cbp-filter-item">Food</div>*@
        </div>
        <div class="clearfix"></div>
        <div class="space20"></div>
        <div id="cube-grid-full" class="cbp light-gallery">
            <!--<div class="cbp-item food">
                <figure class="overlay overlay3 rounded">
                    <a href="style/images/art/jp1-full.jpg" data-sub-html="#caption1">
                        <img src="~/style/images/art/jp1.jpg" alt="" />
                        <div id="caption1" class="d-none">
                            <p>Cras mattis consectetur purus sit amet fermentum.</p>
                        </div>
                    </a>
                </figure>
            </div>-->
            <!--<div class="cbp-item product">
                <figure class="overlay overlay3 rounded"><a href="style/images/art/jp2-full.jpg"><img src="~/style/images/art/jp2.jpg" alt="" /></a></figure>
            </div>-->
            <!--<div class="cbp-item drink">
                <figure class="overlay overlay3 rounded">
                    <a href="style/images/art/jp3-full.jpg" data-sub-html="#caption2">
                        <img src="~/style/images/art/jp3.jpg" alt="" />
                        <div id="caption2" class="d-none">
                            <p>Nulla vitae elit libero, a pharetra augue.</p>
                        </div>
                    </a>
                </figure>
            </div>-->

            @foreach (var project in Model.Projects)
            {
                @foreach (var image in project.Images.OrderByDescending(i => i.Position.HasValue).ThenBy(i => i.Position))
                {
                    <div class="cbp-item @project.Id">
                        <figure class="overlay overlay3 rounded">
                            <a href="~/@image.ImageBaseUrl">
                                <img src="~/@image.ThumbnailImageUrl" alt="" />
                            </a>
                        </figure>
                    </div>
                }
            }
        </div>
    </div>
    @{
        string? prevGalleryId = TempData["PreviousGalleryId"].ToString();
        var gallery = Model.GalleryDropDowns.Where(x => x.Id != Model.Id && x.Id != prevGalleryId).FirstOrDefault();
      }

    <div class="text-right text-decoration-none text-black-50" style="font-size: xx-large; width: 95%">
        <a asp-action="Index" asp-route-id="@gallery.Id"><span class="text-dark">@gallery.Name</span><i class="si-arrows_double-arrow-right"></i></a>
    </div>
    <div class="space10"></div>
</div>
