@{
    @using Martography.Areas.Administration.Controllers
    @model HomePageViewModel
}
<div class="container">
    <div class="text-center"><h1>Admin dashboard</h1></div>
    
    <div class="row">

        <div class="text-center d-none">
            <a href="#" onclick="showUploadWidget()" class="btn btn-pastel-green">Upload Images</a>
            <a asp-area="Administration" asp-controller="Home" asp-action="GetUploadImagesComponent" class="btn btn-pastel-green">Upload Images view component</a>
            <a href="#" onclick="getGallery()" class="btn btn-pastel-green">Get Gallery</a>
            <a href="#" class="btn btn-pastel-green">Create new Gallery</a>
            <a href="#" class="btn btn-pastel-green">Edit Gallery</a>
            <a href="#" class="btn btn-pastel-green">Create new Project</a>
            <a href="#" class="btn btn-pastel-green">Edit Project</a>
            <a href="#" class="btn btn-pastel-green">Upload Images to Project</a>
            <a href="#" class="btn btn-pastel-green">Change Home page images</a>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="adminForm" method="post">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Name:</label>
                                <input name="name" type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Description:</label>
                                <textarea name="description" class="form-control" id="description"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="isDeleted" class="custom-control-input" id="deletedCheck">
                                    <label class="custom-control-label" for="deletedCheck">Delete</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="isPrivate" class="custom-control-input" id="privateCheck">
                                    <label class="custom-control-label" for="privateCheck">Private</label>
                                </div>
                            </div>
                            <input type="hidden" name="id" id="hiddenId" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="saveBtn" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="renderComponent">

        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="space50"></div>
            <div class="text-center">
                <h5>All Galleries</h5>
            </div>
            <table class="table table-bordered table-responsive-lg table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Private</th>
                        <th scope="col">Deleted</th>
                        <th scope="col">Modified</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var gallery in Model.Galleries)
                    {
                    <tr>
                        <td><a data-toggle="modal" data-target="#exampleModal" data-name="@gallery.Name" data-id="@gallery.Id" 
                               data-action="UpdateGallery" data-private="@gallery.IsPrivate" data-deleted="@gallery.IsDeleted" 
                               data-description="@gallery.Description" >
                            @gallery.Name
                            </a>
                        </td>
                        <td>@gallery.Description</td>
                        <td>@gallery.IsPrivate</td>
                        <td>@gallery.IsDeleted</td>
                        <td>@gallery.ModifiedOn?.ToString("d")</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="space50"></div>
            <div class="text-center">
                <h5>All Projects</h5>
            </div>
            <table class="table table-bordered table-responsive-lg table-hover">
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Gallery</th>
                        <th scope="col">Created</th>
                        <th scope="col">Modified</th>
                        <th scope="col">Deleted</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var proj in Model.Projects)
                    {
                        <tr>
                            <td><a class="hover pe-auto" data-toggle="modal" data-target="#exampleModal" data-name="@proj.Name">Edit</a></td>
                            <td><a asp-controller="Project" asp-action="Index" asp-route-id="@proj.Id">@proj.Name</a></td> @*view the project when clicked*@
                            <td><a href="#">@proj.GalleryName</a></td>
                            <td>@proj.Description</td>
                            <td>@proj.CreatedOn.ToShortDateString()</td>
                            <td>@proj.ModifiedOn?.ToString("d")</td>
                            <td>@proj.IsDeleted</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

    <script>
        function showUploadWidget() {
            cloudinary.openUploadWidget({
                cloudName: "marteto",
                uploadPreset: "martography-unsigned-profile",
                sources: [
                    "image_search",
                    "google_drive",
                    "url",
                    "instagram",
                    "dropbox",
                    "facebook",
                    "shutterstock",
                    "local"
                ],
                googleApiKey: "<image_search_google_api_key>",
                showAdvancedOptions: false,
                cropping: false,
                multiple: true,
                defaultSource: "local",
                styles: {
                    palette: {
                        window: "#F5F5F5",
                        sourceBg: "#FFFFFF",
                        windowBorder: "#90a0b3",
                        tabIcon: "#0094c7",
                        inactiveTabIcon: "#69778A",
                        menuIcons: "#0094C7",
                        link: "#53ad9d",
                        action: "#8F5DA5",
                        inProgress: "#0194c7",
                        complete: "#53ad9d",
                        error: "#c43737",
                        textDark: "#000000",
                        textLight: "#FFFFFF"
                    },
                    fonts: {
                        default: null,
                        "'Poppins', sans-serif": {
                            url: "https://fonts.googleapis.com/css?family=Poppins",
                            active: true
                        }
                    }
                }
            },
                (err, info) => {
                    if (!err) {
                        console.log("Upload Widget event - ", info);
                    }
                });
        }

        function getGallery() {
            //$("#renderComponent").html(`await Component.InvokeAsync("Gallery")`);

            // IT DOESNT CREATE REQUEST FOR THE IMAGES SO THEY CANT LOAD
            var _url = '@Url.Action("GetGalleryComponent", "Home")';
                $.ajax({
                    type: "GET",
                    url: _url,
                    success: function (result) {
                        $("#renderComponent").html(result);
                    },
                });
        }

        var button = null;
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            button = button

            // Extract info from data-* attributes
            var action = button.data('action')
            var name = button.data('name')
            var Id = button.data('id')
            var private = button.data('private')
            var deleted = button.data('deleted')
            var description = button.data('description')

            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

            var modal = $(this)
            modal.find('.modal-title').text('Edit ' + name)
            modal.find('.modal-body input').val(name)
            modal.find('.modal-body textarea').val(description)
            modal.find('.modal-body #hiddenId').val(Id)
            modal.find('.modal-body #deletedCheck').val(deleted)
            modal.find('.modal-body #privateCheck').val(private)

            //$('#saveBtn').attr('href', `Administration/Home/${action}`)
        })

        $('#saveBtn').click(function () {
            var name = $('#name').val()
            var id = $('#hiddenId').val()
            var isPrivate = $('#privateCheck').is(":checked")
            var isDeleted = $('#deletedCheck').is(":checked")
            var description = $('#description').val()

            var data = {
                name,
                id,
                isPrivate,
                isDeleted,
                description
            }
            console.log(data);

            var token = $("#adminForm input[name=__RequestVerificationToken]").val();

            $.ajax({
                url: 'api/admin/GalleryEdit',
                type: "POST",
                headers: { 'RequestVerificationToken': token },
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    console.log(data)
                    // if true - successfull edit (maybe show popup)
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });
        })

    </script>
}